@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 30px;
}
.flex{
    display: flex;
}
/* color */
.primary-color{
    color: #131313;
}
.secondary-color{
    color: #424242;
}
.paragraph-color{
    color: #727272;
}
.bacground-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    text-decoration: none;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
main > section{
    margin-top: 130px !important;
}



/* main style */
/* header{
    height: 100vh;
} */
.navbar{
    padding: 63px 20px ;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-size: 3rem;
    font-weight: 700;
}
.nav-links{
    gap: 30px;
}
.nav-list{
    list-style: none;  
}
.nav-list a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner style */
.banner-content{
    max-width: 862px;
    margin:3.3rem auto 50px auto;
    text-align: center;
}
.banner-content h2{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
.banner-content p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.banner-image{
    width: 100%;
    padding-bottom: 20px;
}

.team-galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-galery img{
    width: 100%;
}


/* team style */
.team{
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;  
}

.team-content{
    max-width: 537px;
}
.team-content h3{
    font-size: 3rem;
    color: #131313;
}
.team-content h3 .quick-ist{
    font-weight: 500;
    color: #727272;
}
.team-content h3 .features{
    font-weight: 700;
    color: #FF900E;
}

.team-content p{
    margin: 14px 0px 42px 0px;
    line-height: 26px;
}
























@media screen and (max-width: 568px) {
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}